/* Estilo Global */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Encabezado */

header{
    background-color: #006994;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.leyenda{
    font-size: 20px;
    margin-top: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li{
    margin: 0 15px;
}

header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* Banner principal */

main{
    width: 90%;
    max-width: 1200px;
    margin: 20px 0;
}

.banner{
    background-image: url('img/avion.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    color: #fff;
}


.banner-content h2{
    font-size: 42px;
    margin-bottom: 10px;
}

.banner-content p{
    font-size: 20px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #3399cc;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover{
    background-color: #006994;
}

/* Destinos destacados */

.destinos-destacados {
    padding: 40px 20px;
    text-align: center;
  }
  
  .destinos-destacados h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .destinos-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .destino {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .destino:hover {
    transform: scale(1.05);
  }
  
  .destino-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px; 
    line-height: 20px; 
    max-height: 100%;
    overflow: auto;
  }

@media(min-width: 768px){
    .articulo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px) {
    .articulo {
grid-template-columns: repeat(3, 1fr);
    }
}


/* Estilo de cada artículo*/

.post{
    background-color: #e4f1f7;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post img{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.post-content{
    padding: 15px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.post-content h2{
    font-size: 24px;
    color: #006994;
    margin-bottom: 5px;
}

.post-content p{
    color: #555;
    line-height: 26px;
    flex-grow: 16px;
}

/* Secciones */

.nosotros, .destinos, .opiniones, .contacto{
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.nosotros{
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nosotros h2{
    font-size: 32px;
    text-align: center;
    color: #3399cc;
    margin-bottom: 15px;
}

.nosotros p{
    text-align: justify;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
}

/* Destinos */

.destinos{
    width: 100%;
    text-align: center;
}

.destinos h2{
    font-size: 30px;
    color: #006994;
    margin-bottom: 20px;
}

.grid-destinos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

@media (min-width: 768px){
    .grid-destinos{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Opiniones */

.opiniones{
    display: flex;
    flex-direction: column;

}

.opiniones h2{
    font-size: 30px;
    color: #006994;
    margin-bottom: 20px;
    text-align: center;
}

.testimonio{
    background-color: #e4f1f7;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 16px;
}

/* Contacto */
.contacto h2{
    font-size: 30px;
    color: #006994;
    margin-bottom: 20px;
    text-align: center;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*Footer*/

footer{
    width: 100%;
    background-color: #006994;
    color: #fff;
    text-align: center;
    padding: 15px;

    font-size: 14px;
}

.footer-links{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.footer-links li a img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 8px;
}

.footer-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}